<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>percent1</key>
	<integer>10</integer>
	<key>percent2</key>
	<integer>15</integer>
	<key>percent3</key>
	<integer>20</integer>
</dict>
</plist>
